
{% extends 'base.html' %}

    {% block body %} 
    <header class="flex items-center  p-6 bg-white-2   border border-l-0 border-gray-300 rounded-tr-sm rounded-br-sm ">
        <a href="{{ url_for('index') }}">
            <h1 class="text-3xl font-black ml-64 mb-2 absolute ">BRAND</h1>
            <img class="h-9.5 w-9 ml-52 mx-2 " src="/static/img/behoof_logo.png" alt=""></a>
            <p class="text-sm text-rgba(38, 49, 65, 1) pl-32 px-4 ">Лучшие цены в <br>интернет-магазинах </p>
            <div class="relative inline-block">
                <button class="text-white flex items-center bg-red-600 border border-2-0 border-gray-300  hover:bg-red-400 py-2.5 px-10  mr-5 rounded-2xl focus:outline-slate-50" onclick="toggleDropdown('dropdownMenuRight')">Каталог</button>
                <div class="hidden origin-top-left absolute left-0 mt-2 px-96 py-96 rounded-md shadow-lg bg-slate-50 ring-1 ring-black ring-opacity-5 animate-fadeIn z-50" id="dropdownMenuRight">
                  <div class="flex flex-wrap gap-64 justify-center -mt-40">
                    <div>
                      <h1 class="py-2 text-base text-gray-400">Пользователю</h1>
                      <div>
                      <p class="py-4 text-anthracite">Связаться с нами</p>
                      <p class="py-4 text-anthracite">Поддерка пользователей</p>
                      <p class="py-4 text-anthracite">FAQ & Руководства</p>
                      <p class="py-4 text-anthracite">Политика конфиденциальности</p>
                      <p class="py-4 text-anthracite">Пользовательское соглашение</p>
                      </div>
                    </div>
                    <div>
                      <h1 class="py-2 text-base text-gray-400">Популярные категории</h1>
                      <div>
                        <p class="py-4 text-anthracite">Смартфоны</p>
                        <p class="py-4 text-anthracite">Teteras electricas</p>
                        <p class="py-4 text-anthracite">Стиральные машины</p>
                        <p class="py-4 text-anthracite">Телевизоры</p>
                        <p class="py-4 text-anthracite">Ноутбуки</p>
                      </div>
                    </div>
                    <div>
                      <h1 class="py-2 text-base text-gray-400">Команда BRAND</h1>
                      <div>
                        <p class="py-4 text-anthracite">О нас</p>
                        <p class="py-4 text-anthracite">Работа у нас</p>
                      </div>
                    </div>
                   </div>
                </div>
              </div>
            <div class="flex justify-end w-1/2 h-full  ">
                <input type="text" placeholder="Поиск" class="w-full px-3 shadow-inner rounded-bl-sm rounded-tl-sm border border-gray-300 focus:border-blue-700 focus:outline-none">
                <button class="focus:outline-none flex items-center px-6 py-1 text-gray-600 bg-gray-100 border border-l-0  ">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg></button>
                    <button class="bg-smoky px-2 py-1 mx-2 w-12 h-12"><img src="/static/img/heart.png" alt=""></button>
                    <a href="{{ url_for('profile') }}" class="bg-smoky px-2 py-1 mx-2 w-12 h-12"><img src="/static/img/frame.png" alt=""></a>
                    <button class="bg-smoky px-2 py-1 mx-1 w-12 h-12"><img src="/static/img/chart.png" alt=""></button>
                </div>
                <div>
                    <a href="{{ url_for('login') }}">Войти</a><br>
                </div>
               
        <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
            </header>




            <h2>Ваша корзина покупок</h2>
            {% if cart_items %}
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>>Цена</th>
                            <th>Промежуточный итог</th>
                            <th>Акция</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for code, item in cart_items.items() %}
                            <tr>
                                <td>{{ item['name'] }}</td>
                                <td>{{ item['quantity'] }}</td>
                                <td>{{ item['price'] }}</td>
                                <td>{{ item['total_price'] }}</td>
                                <td>
                                    <a href="/delete/{{ code }}">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>Общее количество: {{ total_quantity }}</p>
                <p>Итоговая цена: {{ total_price }}</p>
        
                <a href="/checkout" class="checkout-button">Оформить заказ</a>
                <a href="/empty" class="empty-cart-button">Пустая корзина</a>
            {% else %}
                <p>Ваша корзина пуста.</p>
            {% endif %}
    {% endblock %}