{% extends 'base.html' %}

    {% block body %} 
    
    <h1>Оформление заказа</h1>
    {% if cart_items %}
        <ul>
            {% for code, item in cart_items.items() %}
                <li>{{ item['name'] }} - Quantity: {{ item['quantity'] }} - Price: ${{ item['price'] }}</li>
            {% endfor %}
        </ul>
        <p>Total Price: ${{ total_price }}</p>
        <form method="post">
            <button type="submit">Оформить заказ</button>
        </form>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}

    {% endblock %}