{% extends 'base.html' %}

    {% block body %} 
    

    
    <div class="container mx-auto mt-5">
        <h1 class="text-2xl font-bold mb-2">Редактировать профиль</h1>
      
        <form action="/profile/edit" method="post" enctype="multipart/form-data" class="bg-white rounded-md shadow-md p-4">
          <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Новое электронное письмо:</label>
            <input type="email" id="email" name="email" value="{{ user[3] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
      
          <div class="mb-4">
            <label for="profile_picture" class="block text-gray-700 text-sm font-bold mb-2">Новая фотография профиля:</label>
            <input type="file" id="profile_picture" name="profile_picture" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
      
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Сохранить изменения</button>
        </form>
      
        {% if error %}
          <p class="text-red-500 mt-2">{{ error }}</p>
        {% endif %}
      </div>
    {% endblock %}