{% extends 'base.html' %}

    {% block body %} 
    

    
    <form action="/profile/edit" method="post" enctype="multipart/form-data">
        <label for="email">Новое электронное письмо:</label><br>
        <input type="email" id="email" name="email" value="{{ user[3] }}"><br>
        <label for="profile_picture">Новая фотография профиля:</label><br>
        <input type="file" id="profile_picture" name="profile_picture"><br><br>
        <input type="submit" value="Save Changes">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% endblock %}