{% extends 'base.html' %}


{% block body %} 
<h1>Детали заказа {{ order[0] }}</h1>

  <p>Дата заказа: {{ order[2] }}</p>
  <p>Общая стоимость: {{ order[3] }} руб.</p>

  <h2>Товары в заказе:</h2>
  <table>
    <thead>
      <tr>
        <th>Код товара</th>
        <th>Количество</th>
        <th>Цена за единицу</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_items %}
        <tr>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
          <td>{{ item[4] }} руб.</td>
          <td>{{ item[3] * item[4] }} руб.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}